:root {
  --carmine: #bf1a2f;
  --jet-black: #022b3a;
  --white: #ffffff;
  --dust-grey: #e4dfda;
  --gunmetal: #3f403f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

header {
  background-color: var(--jet-black);
  color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* DESKTOP MENU */
#links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

#links li a {
  color: var(--white);
  text-decoration: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}




/*Footer================================*/


footer {
  background-color: var(--gunmetal);
  color: var(--white);
  text-align: center;
  padding: 1rem;
  bottom: 0;
  display: flex;
  flex-direction: column;


}

.footer-top {

  display: flex;
  flex-direction: row;
}

.logo-footer{
  flex: 1;
  display: flex;
  flex-direction: row;
  
}
.logo-footer a {
  flex: 0.5;
 
  padding: 0rem;
}
.logo-footer p {
  flex: 1;
  text-align: left;


}

.footer-content {

  flex: 1;


}

.footer-bottom {
  margin-top: 1rem;
}

.logo-footer img {
  width: 8rem;
  height: auto;
}




/*HERO SECTION ==============*/

#hero {

    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    background-image: url("../images/hero-homePage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

.hero-content { 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 15px;
}

.hero-buttons a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--carmine);
  color: var(--white);
}

.hero-buttons {
  margin-top: 5rem;
}






/* Mobile */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  nav {
    width: 100%;
  }

  #links {
    display: none; /* hidden by default */
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
  }

  header {
    flex-wrap: wrap;
  }
    #links.active {
    display: flex; 
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }
/*Footer responsive==========*/
  .footer-top {
    flex-direction: column;
  }

  .logo-footer,
  .footer-content {
    flex: 1;
    margin-bottom: 1rem;
  }

  
}


@media (max-width: 480px) {

  /*FOOTER RESPONSIVE========================*/
  .logo-footer img {
    width: 6rem;
    height: auto;
  }
  .footer-top {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .logo-footer{
    flex-direction: column;
    font-size: 0.8rem;
    
  }
  .logo-footer p {
    text-align: center;
  }
  .footer-bottom {
    font-size: 0.6rem;
  }

  /*HERO SECTION RESPONSIVE========================*/
  #hero {
    height: 40vh;
    font-size: clamp(0.5rem, 2.5vw, 1.25rem);
    padding: 1rem;

  }

  .hero-content { 
    padding: 1rem;

  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

  }
  .hero-buttons a {

    margin: 0.5rem 0;
  }

}