:root {
  --carmine: #bf1a2f;
  --jet-black: #022b3a;
  --white: #ffffff;
  --dust-grey: #e4dfda;
  --gunmetal: #3f403f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
main {
    flex: 1;
    
}

header {
  background-color: var(--jet-black);
  color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* DESKTOP MENU */
#links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

#links li a {
  color: var(--white);
  text-decoration: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}




/*Footer================================*/


footer {
  background-color: var(--gunmetal);
  color: var(--white);
  text-align: center;
  padding: 1rem;
  bottom: 0;
  display: flex;
  flex-direction: column;


}

.footer-top {

  display: flex;
  flex-direction: row;
}

.logo-footer{
  flex: 1;
  display: flex;
  flex-direction: row;
  
}
.logo-footer a {
  flex: 0.5;
 
  padding: 0rem;
}
.logo-footer p {
  flex: 1;
  text-align: left;


}

.footer-content {

  flex: 1;


}

.footer-bottom {
  margin-top: 1rem;
}

.logo-footer img {
  width: 8rem;
  height: auto;
}




/*HERO SECTION ==============*/

#hero {

    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    background-image: url("../images/hero-homePage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

.hero-content { 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 15px;
}

.hero-buttons a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--carmine);
  color: var(--white);
}

.hero-buttons {
  margin-top: 2rem;
}






/* Mobile */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  nav {
    width: 100%;
  }

  #links {
    display: none; /* hidden by default */
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
  }

  header {
    flex-wrap: wrap;
  }
    #links.active {
    display: flex; 
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  #hero, #hero-Tell-us,
  #hero-programs, 
  #hero-awareness ,
  #hero-about,
  #hero-get-involved{
    height: 40vh;
    font-size: clamp(0.5rem, 2vw, 1.25rem);
    padding: 1rem;

  }
/*Footer responsive==========*/
.footer-top {
    flex-direction: column;
  }

  .logo-footer,
  .footer-content {
    flex: 1;
    margin-bottom: 1rem;
  }

  
}


@media (max-width: 480px) {

  /*FOOTER RESPONSIVE========================*/
  .logo-footer img {
    width: 6rem;
    height: auto;
  }
  .footer-top {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .logo-footer{
    flex-direction: column;
    font-size: 0.8rem;
    
  }
  .logo-footer p {
    text-align: center;
  }
  .footer-bottom {
    font-size: 0.6rem;
  }

  /*HERO SECTION RESPONSIVE========================*/


  .hero-content { 
    padding: 1rem;

  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

  }
  .hero-buttons a {

    margin: 0.5rem 0;
  }

}






/*==========================================================*/
/*Tell YOUR STORY PAGE==============*/

/*HERO======*/

#hero-Tell-us {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  background-image: url("../images/hero-tell-us.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

/*FORM==========================*/
#section1-tell-us{
  padding: 5rem;
  margin: 0 auto;
  max-width: 85rem;
}


.story-form {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


fieldset {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}


legend {
    font-weight: bold;
    font-size: 1.1rem;
    color: #2c3e50;
    padding: 0 10px;
}


label {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: 600;
}


input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}


input:focus, textarea:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 0 3px rgba(74,144,226,0.2);
}

/* Checkbox fix */
input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

/* Submit button centered under both columns */
button {
    display: block;
    margin: 1rem auto 0;
    width: 25rem;
    padding: 1rem;
    background-color: #bf1a2f;
    color: white;
    border: none;
    border-radius: 0.5rem;
    
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #bf1a2f ;
}

/* Responsive =================================== */

/*grid for the form */
@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    button {
        width: 100%;
    }
}









/*PAGE PROGRAMS====================================*/

#hero-programs{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  background-image: url("../images/hero-program.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;

}

#section1-programs {
    max-width: 85rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.program-rectangle {
    background: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

}



.program-rectangle h3 {
    margin-bottom: 1rem;
    color: var(--jet-black);
    font-size: 1.3rem;
}

.program-rectangle p {
    color: var(--gunmetal);
}


@media (max-width: 768px) {
    #section1-programs {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    #section1-programs {
        grid-template-columns: 1fr;
    }
}





/*AWARENESS PAGE===================*/

#hero-awareness {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  background-image: url("../images/hero-awareness.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}


.video-clip {
    max-width: 60rem;
    margin: 3rem auto;
    padding: 0 2rem;
    aspect-ratio: 16 / 9;
}

.video-clip iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


#section2-awareness {
    color: var(--gunmetal);
    line-height: 1.6;
    padding: 5rem;

}

#section2-awareness p {
  column-gap: 2rem;
    column-count: 2;
}

#section2-awareness h2 {
    
    font-size: 5rem;
}


/*RESPONSIVE AWARENESS PAGE*/

@media (max-width: 1280px) {
    #section2-awareness p {
        column-count: 1;
    }

    #section2-awareness h2 {
        font-size: clamp(2rem, 5vw, 3rem);
    }
}

@media (max-width: 768px) {
    #section2-awareness  {
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    #section2-awareness  {
        padding: 1.5rem;
    }
}







/*ABOUT PAGE=========================*/

#hero-about {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  background-image: url("../images/hero-about.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

#section1-about {
    padding: 1rem;
}

.founders {

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    color: var(--gunmetal);
}

.founder {

    background: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    padding: 1rem;
    height: auto;
    flex: 1fr;
    margin: 0 1rem;
}


.founder img {

    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.founder-info {
  padding-left: 0.8rem;

}


/*SECTION2================*/

#section2-about {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin-top: 3rem;
  font-size: clamp(0.8rem, 2vw, 1.25rem);
}

#section2-about img {
  flex: 1;
  max-width: 50%;
  height: auto;
  margin-right: 2rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

#section2-about .about-content {
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-right: 2rem;
  padding: 2rem;
  flex: 1;
}

/*about-content buttons===========*/


#about h1 {
    text-align: center;
    margin-bottom: 2rem;
}


.about-content-btn {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;

    background: var(--jet-black);
    color: white;
    border: none;
    border-radius: 0.5rem;

    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
}

.about-content-btn:hover {
    background: #154a68;
}

/* hidden by default */
.about-hidden-content {
    display: none;

    padding: 2rem;
    
    border-radius: 0 0 0.5rem 0.5rem;

    line-height: 1.6;
}



/*Responsive*/


@media (max-width: 985px) {


  .founder-info {
    font-size: clamp(0.6rem, 2vw, 1rem);
  }



    .founders{
      flex-direction: column;
      gap: 1rem;
    }

    .founder img{
      width: 4rem;
      height: 4rem;
    }

    #section2-about {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;
    }

    #section2-about img {
    max-width: 70%;
    height: auto;

   }



}





/*Get Involved PAGE=========================*/

#hero-get-involved {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  background-image: url("../images/hero-getInvolved.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

/*TABLE ============*/
#volunteer-opportunities {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 2rem;
}

#volunteer-opportunities h2,
#volunteer-opportunities p {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th,
td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
}

th {
    background-color: var(--jet-black);
    color: white;
}

tr:nth-child(even) {
    background-color: var(--dust-grey);
}

tr:hover {
    background-color: #e8e8e8;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

